*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 4050px;
    background-image: radial-gradient(circle at right top,rgb(4,95,95) 0% 5%,black 20% 50%);
}
.fixed{
    position: fixed;   
}
#logo_name{
    margin-top: -50px;
    margin-left: 10px;
    color: white;
    font-size: 20px; 
    font-family: cursive;
    word-spacing: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    margin-top: -7%;
}
#logo{
    width: 25px;
    height: 30px;
    position: relative;
    top: 10px;
}
.nav_links{
    list-style: none;
    display: flex;
    gap: 60px;
}
.nav_links li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    top: -40%;
    left: 550px;
}
#sign_in {
    width: 80px;
    height: 35px;
    text-align: center;
    background-color: rgba(16, 225, 145, 0.922);
    border-radius: 5px;
    position: relative;
    top: -20px;
    left: 550px;
}
button a{
    margin-top: 8px;
    margin-left: 18px;
    text-decoration: none;
    color: black;
}



.main_heading{
    margin-top: 100px;
    font-size: 90px;
    word-spacing: 10px;
    font-family: NeueMachina;
}
h1,span{
    text-align: center;
    color: white;
    font-weight: unset;
    line-height: 0.89;
}
.text_highlight{
    color: aqua;
}
.good_font{
    font-style: italic;
    font-family: "juana";
}
@font-face{
    font-family: NeueMachina;
    src: url(../static/fonts/NeueMachina-Light.otf);
}



.check_course_btn{
    text-align: center;
    background-color: aqua;
    text-decoration: none;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 39%;
    font-weight: bold;
    font-size: 17px;
}



p{
    margin-left: 71%;
    margin-top: -110px;
    font-size: small;
}
.content_color{
    color: aqua;
}



.count{
    margin-top: 10%;
    margin-right: 10%;
    font-weight: bold;
}
.count_1{
    margin-left: 15%;
}



.count_content{
    margin-top: 0%;
    margin-right: 7%;
}
#count_1_content{
    text-align: center;
    margin-left: 190px;
    font-family: cursive;
    font-size: 20px;
}
.count_0_{
    margin-right: -50px;
}
.count_1_{
    margin-left: -40px;
}
.count_2_{
    margin-right: 30px;
}



#help_content{
    text-align: center;
    margin-top: 13%;
    font-size: 40px;
    word-spacing: 5px;
}
#concept{
    text-align: center;
    font-size: 40px;
    word-spacing: 5px;
    color: aqua;
}



iframe{
    margin-top: 50px;
    margin-left: 280px;
    border-radius: 10px;
}



.learning{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: 620px;
    background-color: aqua;
}



#offered{
    font-size: 50px;
    color: white;
    margin-top: 80px;
    margin-left: 45px;
}



.images{
    width: 300px;
    height: 180px;
    border-radius: 5px;
    float: left;
}
.img_div{
    background-color:rgb(27, 26, 26);
    width: 300px;
    height: 400px;
    margin-left: 60px;
    border-radius: 15px;
    margin-top: 50px;
    float: left;
}
#div_{
    color: white;
    margin-top: 300px;
    width: 100px;
    font-weight: lighter;
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 10px;
}
.btn{
    background-color: grey;
    border-collapse: collapse;
    width: 70px;
    height: 25px;
    margin-top: 10px;
}
.color{
    color: aqua;
    font-size: 17px;
}
.number{
    color: white;
    font-size: 30px;
    margin-top: 8px;
}
.cross_number{
    font-size: 20px;
    margin-left: 20px;
}
.percentage{
    margin-left: 50px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
}



.view{
    text-align: center;
    color: black;
    float: left;
    width: 300px;
    height: 35px;
    background-color: aqua;
    margin-left: 4%;
    margin-top: 1%;
    font-size: 25px;
    border-radius: 10px;
}



.views{
    width: 300px;
    height: 35px;
    float: left;
    background-color: aqua;
    margin-top: 31%;
    margin-left: -300px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: black;
} 



#cnt{
    float: left;
    margin-top: 50%;
    margin-left: 7%;
    font-size: 50px;
    text-align: center;
}
.clr{
    color: aqua;
}



.companies{
    width:1000px;
    height: 320px;
    margin-top: 50px;
    margin-left: 18%;
}



.explore_course_btn{
    text-align: center;
    background-color: aqua;
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 44%;
    font-weight: bold;
    font-size: 20px;
}



hr{
    margin-top: 8%;
    border-color: gray;
    border-top: thistle;
    width: 95%;
    transform: translate(2.5%);
}



.pro_logo{
    width: 40px;
    height: 55px;
    margin-top: 90px;
    margin-left: 5%;
}
.connect{
    color: white;
    margin-top: 0.5%;
    margin-left: 5%;
}
.social_media{
    width: 110px;
    height: 50px;
    margin-top: 1px;
    margin-left: 73px;
}
.comp{
    margin-top: -150px;
    margin-right: 400px;
    font-size: 18px;
}
.headings a{
    margin-top: -1%;
    margin-left: 34%;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
.community{
    margin-top: -246px;
    margin-left: 35%;
    font-size: 17px;
}
.comm_headings a{
    margin-left: 64.3%;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
.get{
    margin-top: -6.5%;
    margin-left: 78.5%;
    font-size: 19px;
}
.get_headings a {
    margin-left: 86%;
    line-height: 30px;
    color: white;
    text-decoration: none;
}



.footer{
    font-size: 17px;
    line-height: 5px;
    margin-top: 19px;
    font: bolder;
}